---
layout: default
---



<div class=" vpad--xxl bv-parallax bv-shadow-inset" style="background-image: url('{{site.img}}/content/bg-intro.jpg');">
  <div class="container">
    <div class="width width--xl text--normal text--xxl text--white bv-mob-left" >
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

<!-- {% if page.sections %}{% include nav/page.html %}{% endif %}-->

{% for section in site.data[page.id] %}


<div id="{{section.id}}" class="harvey{% cycle ' harvey--swap', '' %} {% cycle 'bg--white', 'bg--g-darkblue' %}">

  <div class="harvey__img " style="background-image: url('{{site.img}}/content/{{page.id}}/bg-img/{{section.img}}.jpg');"></div>
  <div class="harvey__text text--xxl boxpad--xl {% cycle 'text--black', 'text--white' %}">
    <h2 class="sub-title sub-title--lg ">{{section.title}}</h2>
    <p>{{section.description}}</p>
  </div>
</div>



{% endfor %}
