---
layout: default
---


<div class=" vpad--xxl bv-parallax bv-shadow-inset" style="background-image: url('{{site.img}}/content/bg-intro.jpg');">
  <div class="container">
    <div class="width width--xl text--center text--normal text--xxl text--white bv-mob-left" >
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>



{% for section in site.data[page.id] %}

<div id="{{section.id}}" class="{% cycle 'bg--light', 'bg--white' %} js-nav-section vpad--xl bv-parallax bv-remove-bg" style="background-image: url('{{site.img}}/content/{{page.id}}/bg-img/{{section.img}}.jpg'); " >
  <div class="container">
    <div class="row row--valign-center row--gutters-md row--6-6">

      <div class="col text text--normal text--xl">
        <div class="sub-title sub-title--lg">{{section.title}}</div>
        <div class="space--xs"></div>
        <p>{{section.description}} </p>
      </div>
      <div class="col">
        <div class="bg-img bg-img--1-1 bv-mob-hide" style="background-image: url('{{site.img}}/content/{{page.id}}/bg-img/main-{{section.img}}.jpg');"></div>
      </div>
    </div>
    <div class="space--xl"></div>
    <div class="row row--gutters-md">
    {% for poi in section.pois.items %}
      <div id="tracking-poi-{{poi.id}}" class="col col--lg-6 col--xxl-4 text--center js-open-modal" data-open-modal="{{poi.id}}" data-modal-group="section" >
        <div class="bv-modal " >
          <div class="highlight__image bg-img bg-img--3-2 bv-modal-thumbn " style="background-image:url('{{site.img}}/content/{{page.id}}/gallery/{{poi.id}}.jpg'); "></div>
            <div class="bg--white boxpad--lg">
              <div class="title title--xs bv-lineheight text--darkblue" style="padding-bottom:{{poi.pad-bottom}};padding-top:{{poi.pad-top}}; ">{{poi.title}}</div>
              <div class="space--xs"></div>
                <div class="bv-box-height text text--md">{{poi.description}}</div>
                <div class="title title--sm bv-box-height--3dots">...</div>
              <div class="space--xxs"></div>
              <div class=" text--bold bv-text-colour3">Mehr erfahren</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endfor %}

{% include modal/sections.html %}
